.first-header {

    height: 7vh;
    padding-block: 10px;
    padding-inline: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid;

    width: 100%;
}

.first-header div span {
    font-size: x-large;
}

.first-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}




.first-header div img {
    max-height: 5vh;
}

.first-header  button {
    background-color: white;
}