.work-page {
    width: 100%;
    height: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.w-p-block-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    gap: 14px;
    
    & .restrictinfo-space {}

    &.controlpanel-space {}
}

.w-p-block-2 {
    height: 100%;

    display: grid;

    grid-template-columns: 30% 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "es ds";

    gap: 25px;
    
    &.editor-space {
        grid-area: es;
    }

    &.debugger-space {
        grid-area: ds;
    }
    
}



