.restrict-info-block {
    display: inline-block;

    min-height: 100%;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
}

.restrict-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.restrict-info p {
    font-size: larger;
}