.code-segment-space {
    grid-area: c-s-sp;
    /* max-height: 50vh;
    min-height: 50vh; */
    height: 100%;
    width: 100%;
}

.registers-space {
    grid-area: r-sp;
}

.flag-registers-space {
    grid-area: f-r-sp;
}

.stack-space {
    grid-area: s-sp;
}

.data-segment-space {
    grid-area: d-s-sp;
}

.visual-data-segment-space {
    grid-area: v-d-s-sp;
}

